<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/UserLogin.css" rel="stylesheet" />

</head>
<body>

    
    <div>
        @RenderBody()
    </div>
</body>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</html>
