
@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content_page">
    <div class="container w-50">
        <div class="card">
            <div class="card-body">
                <div class="form-group mb-2 required">
                    <label class="col-md-4 control-label" for="report_types">Report type</label>
                    <select id="report_types" name="report_types" class="form-select form-control">
                        <option selected value="orders">Orders</option>
                        <option value="products">Products</option>
                        <option value="users">Users</option>
                    </select>

                </div>
                <div class="form-group mb-2 filterDate">
                    <label class="col-md-4 control-label" for="start_date">Start Date</label>
                    <input type="date" id="start_date" name="start_date" class="form-control" required="">
                </div>
                <div class="form-group mb-2 filterDate">
                    <label class="col-md-4 control-label" for="end_date">End Date</label>
                    <input type="date" id="end_date" name="end_date" class="form-control" required="">
                </div>
                <div class="form-group mb-2 orderStatus">
                    <label class="col-md-4 control-label" for="order_status">Status</label>
                    <select id="order_status" name="order_status" class="form-select form-control">
                        <option selected disabled value="">Select Status</option>
                        <option value="Placed">Placed</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Delivered">Delivered</option>
                    </select>

                </div>
                <div class="form-group mb-2 addedByUser">
                    <label class="col-md-4 control-label" for="addedBy">Added by</label>
                    <select id="addedBy" name="addedBy" class="form-select form-control">
                    
                    </select>
               
                </div>
                <div class="form-group mb-2 d-none userRole">
                    <label class="col-md-4 control-label" for="user_roles">Role</label>
                    <select id="user_roles" name="user_roles" class="form-select form-control">
                        <option selected value="Customer">Customer</option>
                        <option value="Seller">Seller</option>
                    </select>

                </div>
                <button class="btn btn-primary btn-block w-100" onclick="getReport()" id="btnGetReport">Submit</button>

                
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/admin_dashboard/reports.js"></script>
}
