


@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;  ">
    <div class="card">
        <div class="row">
            <div class="col-6">
                <img src="/image/Register.jpg" style="width: 65vh; height: 80vh;" class="p-3 border-radius" />
            </div>
            <div class="col-5 ms-1 p-3">
                <div class="mt-3 text-center">
                    <h1>SIGN UP</h1>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example1c" class="form-control" />
                    <label class="form-label" for="form3Example1c">Your Name</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4 mx-5">
                    <input type="password" id="form2Example2" class="form-control" />
                    <label class="form-label" for="form2Example2">Password</label>
                </div>
                <div class="form-outline mb-4 mx-5">
                    <input type="password" id="form3Example4c" class="form-control" />
                    <label class="form-label" for="form3Example4c">Password</label>
                </div>
                <div class="form-outline mb-4 mx-5">
                    <input type="password" id="form3Example4cd" class="form-control" />
                    <label class="form-label" for="form3Example4cd">Repeat your password</label>
                </div>

                <!-- Submit button -->
                <button type="button" class="btn btn-custom mb-4 mx-5 ">Sign Up</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Already you have account <a href="~/Login/UserLogin" class="reg text-decoration-none">Login</a></p>
                </div>
            </div>
        </div>
      
           
        </div>

       
    </div>


