@{
    ViewData["Title"] = "Notification";
    Layout = "~/Views/Shared/_SellerdashboardLayout.cshtml";
}
<div class="content_page">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">IMAGE</th>

                <th scope="col">APPROVE</th>
               
            </tr>
        </thead>


    </table>
</div>