@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_SellerdashboardLayout.cshtml";
}
<div class="content_page">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CUSTOMER NAME</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">IMAGE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">DATE</th>

                <th scope="col">STATUS</th>


            </tr>
        </thead>


    </table>
</div>