@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_SellerdashboardLayout.cshtml";
}
<div class="content_page">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">IMAGE</th>
               
                <th scope="col">REVIEW</th>
                <th scope="col">RATING</th>
            </tr>
        </thead>


    </table>
</div>