.close {
    float: right;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s ease;
}

    .close span {
        position: relative; /* Add relative positioning */
        display: block;
        font-size: 1.5rem;
        top: 3px;
        right: -24px;
        margin: -10px !important;
    }
.screen_height {
    height: calc(100vh - 165px);
}
.form-group.required .control-label:after {
    content: "*";
    color: red;
}

/*Modal*/
button.closeModal {
    padding: 0;
    background-color: transparent;
    border: 0;
}

.closeModal {
    float: right !important;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/*Loader*/
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(5px); /* adjust blur intensity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* ensure it's above other content */
}

.loader {
    border: 8px solid #d3d3d3; /* Light grey */
    border-top: 8px solid #d5a13a; /* Yellow */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
.card-img-fit {
    height: 200px; /* Set a fixed height for all card images */
    object-fit: cover; /* Ensure the image covers the entire space */
}
.cursor_poniter {
    cursor: pointer; /* Change cursor to hand when hovering over pagination links */
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:540px) {
    .centerOnMobile {
        text-align: center
    }
}