
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                   
                </div>
                <div id="cartContainer">
                  
                </div>
                <div id="cartEmptyDiv" class="mb-4 d-none">
                    <div class="card rounded-3" style="height: 50vh;">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h4 class="text-muted">Cart is empty :(</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/cart.js"></script>
}
