
@{
    ViewData["Title"] = "OrderSummary";
    Layout = "~/Views/Shared/_UserdashboardLayout.cshtml";
}
<section class="content_page">
<div class=" container-fluid my-5 ">
    <div class="row justify-content-center ">
        <div class="col-xl-10" id="summaryList">
            <div class="card shadow-lg ">
   
                <div class="row justify-content-around p-2">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-header">
                             
                                <p class="card-text text-muted mt-4  space">SHIPPING DETAILS</p>
                            
                            </div>
                            <div class="card-body">

                                <div id="addrSect">
                                </div>
                                <span id="noAddress" class="text-black-50 d-none">No Addresses</span>

                                
  
                            </div>
                        </div>
                        <div class="card border-0">
                            <div class="card-header">

                                <p class="card-text text-muted mt-4  space">PAYMENT DETAILS</p>

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div>
                                        <div class="form-check mb-3">
                                                <input class="form-check-input" value="Pay on Delivery" type="radio" name="paymentMethod" id="payOnDelivery">
                                            <label class="form-check-label" for="payOnDelivery">Pay on Delivery</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <div class="form-check mb-3">
                                                <input class="form-check-input" type="radio" value="Internet Banking" name="paymentMethod" id="internetBanking">
                                            <label class="form-check-label" for="internetBanking">Internet Banking</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <div class="form-check mb-3">
                                                <input class="form-check-input" type="radio" value="UPI" name="paymentMethod" id="upi">
                                            <label class="form-check-label" for="upi">UPI</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-md-5">
                        <div class="card border-0 ">
                            <div class="card-header card-2">
                                <p class="card-text text-muted mt-md-4  mb-2 space">YOUR ORDER</p>
                              
                            </div>
                            <div class="card-body">
                                <div id="itemDetails">

                                </div>
                                
                                <div class="row mb-5 mt-4 ">
                                    <div class="col-md-7 col-lg-6 mx-auto"><button type="button" onclick="placeOrder()" class="btn btn-block btn-outline-primary btn-lg">Check out</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="orderSuccess" class="overlay d-none">
            <div class="success-animation">
              
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
                <label class="success-label">Order Placed!</label>
            </div>
        </div>
    

    </div>
</div>
</section>
<input type="hidden" id="hdnProductId" value="@ViewBag.ProductId" />
   





@section Scripts {
    <script src="~/js/ordersummary.js"></script>
}
