
@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/css/userlogin.css" rel="stylesheet" />
<div class="container d-flex justify-content-center align-items-center screen_height">

    <div class="card" style="width: 25rem; ">
        <div class="title d-flex justify-content-center align-items-center mt-3">
            <h1>SIGN IN</h1>
        </div>
    <!-- Email input -->
    <div class="form-outline mb-4 mx-5 " >
            <input type="text" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4 mx-5 ">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4 mx-3 ">

        <div class="col mx-3 ">
            <!-- Simple link -->
                <a href="~/Reset/Reset" class="forgot text-decoration-none">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
        <button type="button" id="btnSubmit" onclick="submitLogin();" class="btn btn-warning btn-block mb-4 mx-5 ">Submit</button>

    <!-- Register buttons -->
    <div class="text-center">
            <p>Not a member? <a href="~/Register/RegisterOptions" class="reg text-decoration-none">Sign up</a></p>
       
        
        </div>
    
</div>
</div>
@* @section Scripts
{
    <script src="~/js/userlogin.js"></script>
} *@


