@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reset";
    Layout = "~/Views/Shared/_ResetLayout.cshtml";
}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 30rem; ">
        <div class="title d-flex justify-content-center align-items-center mt-3 mb-3">
            <h3>Reset Your Password</h3>
        </div>
    
    <div class="form-outline mb-5 mx-5">
    
    <input type="email " class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
    <button type="button" class="btn btn-custom btn-block mb-4 mx-5  ">SUBMIT</button>
</div>
</div>

